<%= form_with(model: politico, local: true) do |form| %>
  <% if politico.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(politico.errors.count, "error") %> prohibited this politico from being saved:</h2>

      <ul>
        <% politico.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :cpf %>
    <%= form.text_field :cpf %>
  </div>

  <div class="field">
    <%= form.label :sguf %>
    <%= form.text_field :sguf %>
  </div>

  <div class="field">
    <%= form.label :sgpartido %>
    <%= form.text_field :sgpartido %>
  </div>

  <div class="field">
    <%= form.label :id_cadastro %>
    <%= form.text_field :id_cadastro %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
